.red {
    color: red;
}

body {
    background-color: #9de4e9;
    border: 1px solid gray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #9de4e9;
    border: 1px solid gray;
}

.title-div {
    align-self: flex-start;
    border: 1px solid gray;
    align-self: center;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.title-large {
    color: rgb(0, 0, 37);
    background-color: #9de4e9;
    align-self: center;
}

.title-medium {
    color: rgb(0, 0, 37);
    align-self: center;
}

.fact-div {
    align-self: center;
    border: 1px solid gray;
    width: 70%;
    display: flex;
    flex-flow: column;
    min-height: 7em;
    padding: 2%;
}

.fact-button {
    background: rgb(241, 61, 217);
    height: 50px;
    width: 125px;
    color: rgb(0, 0, 37);
    align-self: center;
    justify-self: flex-end;
    font-size: 12pt;
}

.fact-well {
    align-self: center;
    display: flex;
    flex-flow: column;
}

.fact-title {
    align-self: center;
}

.fact-content {
    align-self: center;
}

.fact-buttons {
    align-self: center;
    display: flex;
    flex-flow: column;
}

.toggle-fact {
    background: rgb(117, 111, 197);
    color: rgb(0, 0, 37);
    align-self: center;
    height: 20px;
    width: 125px;
}

.change-fact {
    background: rgb(241, 61, 217);
    height: 45px;
    width: 150px;
    align-self: center;
    color: rgb(0, 0, 37);
}

.no-fact {
    align-self: center;
    display: flex;
    flex-flow: column;
}

.picture-div {
    align-self: center;
    justify-self: flex-end;
    border: 1px solid gray;
    min-width: 80%;
    display: flex;
    flex-flow: column;
    min-height: 13em;
    padding: 3%;
}

.kitty-button {
    align-self: center;
    background: rgb(241, 61, 217);
    height: 50px;
    width: 200px;
    font-size: 14pt;
}

.confirm-kitty {
    width: 200px;
    height: 75px;
    background: rgb(241, 61, 217);
    color: rgb(0, 0, 37);
    align-self: center;
    font-size: 20pt;
}

.reject-kitty {
    width: 250px;
    height: 60px;
    align-self: center;
    background: rgb(14, 0, 0);
    color: white;
    font-size: 14pt;
}

.placeholder {
    align-self: center;
    font-size: 20pt;
    color: rgb(0, 0, 37);
    padding-bottom: 3em;
}

.override-div {
    align-self: center;
    display: flex;
    flex-flow: column;
    background: #9de4e9;
}

.kitty-switch {
    align-self: center;
    padding: 5em;
}